m {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.game-container {
    position: relative;
    width: 500px;
    box-sizing: border-box;
    margin: auto;
    max-width: 100vw;
    overflow: auto;
    background-image: url(/images/bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-user-profile {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #0c2d3c;
    padding: 5px;
    border-radius: 10px;
    padding-bottom: 0;
}

.game-user-profile-avatar {
    background: white;
    width: 32px;
    height: 32px;
    overflow: hidden;
    flex: none;
    border-radius: 10px;
}

.game-user-profile-body {
    flex-grow: 1;
}

.game-user-profile-body-title {
    color: #de3421;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 2px;
}

.game-user-profile-body-username {
    color: white;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
}

.game-user-profile-body-level-wrapper {
    width: 100%;
    height: 4px;
    background: white;
    border-radius: 9999px;
    overflow: hidden;
    position: relative;
}

.game-user-profile-body-level-percent {
    height: 100%;
    filter: blur(1px);
    background: linear-gradient(45deg, #3189c8, #d03626);
    border-radius: 9999px;
    transition: ease-in-out 100ms all;
}

.game-user-profile-body-level-description {
    font-size: 10px;
    color: white;
}

.game-second-row {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    margin-bottom: 35px;
}

.game-user-balance {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    gap: 14px;
}

img.game-user-balance-coin {
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    background: white;
    border-radius: 9999px;
    overflow: hidden;
    flex: none;
}
.tabs {
    height: -moz-fit-content;
    height: fit-content;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-top: 3px solid red;
    background-color: rgb(0 0 0 / 80%);
    overflow: hidden;
    padding-bottom: 100px;
}
.game-user-inventory {
    cursor: pointer;
    background-color: #0c2d3c;
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

span.game-user-balance-text {
    font-size: 54px;
    font-weight: 600;
}

.game-ingredients {
    display: none;
    justify-content: space-between;
    margin-bottom: 57px;
    margin-top: 32px;
}

.game-ingredient-item-image {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    flex: none;
    position: relative;
    z-index: 30;
}

.game-ingredient-item {
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.game-ingredient-item-percent {
    width: 100%;
    color: white;
    text-align: center;
    transform: translateY(-6px);
    position: relative;
    z-index: 20;
    font-size: 10px;
    font-weight: 600;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

.game-ingredient-item-level {
    width: 100%;
    height: 9px;
    background: #0a2d3e;
    border-radius: 9999px;
}

.game-ingredient-item-level-percent {
    height: 100%;
    background: #de3421;
    border-radius: 9999px;
}

.game-tap-wrapper {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 350px;
}

.game-tap-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    width: 300px;
}
.game-tap-craft-button {
}
.game-tap-collect-button {
    width: 60%;
    margin: auto;
    cursor: pointer;
}
.waitingTimer {
    display: none;
    color: white;
    font-size: 36px;
    font-weight: 600;
}

.refreshTimer {
    display: block;
}

.game-tap-craft-button {
    width: 65%;
    display: none;
    height: 45px;
    justify-content: center;
    align-items: center;
}

.game-tap-collect-button {
    display: none;
}
.game-tap-element {
    position: absolute;
    width: 25%;
    aspect-ratio: 75 /72;
    max-width: 16vw;
    border-radius: 9999px;
    top: 0px;
    left: 0px;
    overflow: hidden;
    cursor: pointer;
    transition: ease-in-out 500ms all;
}

.game-tap-element.active {
    scale: 1.2;
}
.game-tap-craft-button.active {
    scale: 1.1;
}
.game-tap-collect-button.active {
    scale: 1.1;
}
.game-tap-element:nth-child(10) {
    top: -12%;
    left: 48%;
    transform: translate(-50%, 0px);
}

.game-tap-element:nth-child(3) {
    top: 17.5%;
    left: 87.5%;
    transform: translate(-50%, -50%);
}

.game-tap-element:nth-child(4) {
    top: 50%;
    left: 111%;
    transform: translate(-100%, -50%);
}

.game-tap-element:nth-child(5) {
    top: 86%;
    left: 85.5%;
    transform: translate(-50%, -50%);
}

.game-tap-element:nth-child(6) {
    top: 111%;
    left: 49%;
    transform: translate(-50%, -100%);
}

.game-tap-element:nth-child(7) {
    top: 86%;
    left: 12.5%;
    transform: translate(-50%, -50%);
}

.game-tap-element:nth-child(8) {
    top: 50%;
    left: -12%;
    transform: translate(-0%, -50%);
}

.game-tap-element:nth-child(9) {
    top: 15.5%;
    left: 11.5%;
    transform: translate(-50%, -50%);
}

.game-footer {
    display: none;
    position: fixed;
    position: -webkit-fixed;
    bottom: 0px;
    padding: 20px;
    padding-top: 30px;
}

.game-footer-nav {
    width: 48px;
    height: 48px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    flex-direction: column;
    gap: 7px;
}

.game-user-profile-avatar img {
    width: 100%;
    height: 100%;
}

.game-ingredient-item-image img {
    width: 100%;
    height: 100%;
}

.game-footer-nav img {
    width: auto;
    height: 64%;
}

.game-footer-nav .image-active {
    display: none;
}

.game-footer-nav.active .image-deactive {
    display: none;
}

.game-footer-nav.active .image-active {
    display: block;
}

.game-footer-nav .image-deactive {
    display: block;
}

.game-tap-element img {
    width: 100%;
    height: 100%;
}

.inventoryBody {
    display: flex;
    flex-wrap: wrap;
    background-color: #c2d3d3;
    border-radius: 10px;
    padding: 50px 20px 50px 20px;
    justify-content: space-between;
    row-gap: 35px;
}

.invenvtoryElement {
    display: flex;
    width: 46%;
    background-color: white;
    height: 60px;
    border: 2px solid;
    border-radius: 10px;
    justify-content: space-between;
}
.inventoryImg img {
    width: 125%;
    position: absolute;
    bottom: 0;
    margin-left: -5px;
}
.inventoryImg {
    width: 35%;
    position: relative;
}

#InventoryTab .title {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
    background-color: #041111;
    padding: 5px;
    padding-right: 20px;
    border-radius: 5px;
    width: -moz-fit-content;
    width: fit-content;
}
.inventoryInfo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 60%;
}

.invenvtoryTitle {
    font-size: 11px;
    font-weight: 800;
}

.invenvtoryNumber {
    font-size: 29px;
    color: red;
}
@media screen and (max-width: 410px) {
    .game-second-row {
        flex-direction: column;
        gap: 20px;
    }
    .game-user-inventory {
        justify-content: left;
        width: -moz-fit-content;
        width: fit-content;
        font-size: 25px;
    }
    .game-user-balance {
        width: -moz-fit-content;
        width: fit-content;
        font-size: 25px;
    }
}

.inventoryHeader {
    display: flex;
    justify-content: space-between;
}

.backBtn {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 5px;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
}

.warning {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: radial-gradient(circle, #e60000, #1a000000);
    filter: blur(50px);
}

.fly-number {
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: 800;

    transition: all 1s ease; /* Duration should match JavaScript */
    pointer-events: none; /* Prevent interaction during animation */
}
div#GameTab {
    padding: 24px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#InventoryTab {
    padding: 24px;
}

.header {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px 10px 20px;
    height: 45px;
}

.profile-info {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}
span.levelTotalNumber {
    color: red;
}

.footer-body {
    padding: 5px;
    border: 2px solid #ff3334;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #021f21;
}

.game-footer-nav.active {
    background-color: #ff3334;
}

.game-user-inventory-image {
    height: 25px;
    margin-left: 10px;
}

.game-user-inventory-image img {
    height: 100%;
    width: 100%;
}

.game-user-inventory-total-count {
    color: white;
}

.game-user-inventory-arrow {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.game-footer-nav.active .title {
    font-size: 11px;
    font-weight: 700;
    color: #0b2d3c;
}
.game-footer-nav .title {
    font-size: 11px;
    font-weight: 700;
    color: white;
}
.play-game {
    display: none;
    width: 80%;
    position: relative;
    aspect-ratio: 440 / 440;
    max-width: 100%;
    border-radius: 50%;
    border: solid gray;
    background: rgb(75 69 69 / 50%);
}
.waiting-game {
    display: none;
    width: 95%;
    position: relative;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waiting-game-body {
    width: 100%;
    position: relative;
    aspect-ratio: 100/100;
    display: flex;
    justify-content: center;
}

.rotatingImage {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
}

.port {
    width: 70%;
    position: absolute;
    transform: translateY(-7%);
}
.game-tap-craft-button img {
    width: 100%;
    height: 100%;
}
.game-tap-collect-button img {
    width: 100%;
    height: 100%;
}
.refreshTimer {
    font-size: 30px;
    font-weight: 700;
}
@media screen and (max-width: 320px) {
    .header {
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 25px 10px 20px;
        height: 60px;
    }
    .refreshTimer {
        font-size: 20px;
    }
    .game-tap-wrapper {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 200px;
    }
}
